@import "tailwindcss";

/* body {
  background-color: #99d98a;
} */

/* Tailwind Scrollbar customization plugin */

html, body, #root {
  height: 100%;
  margin: 0;
  color: #2E2E2E;
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@theme {
  --color-scrollbarColor : rgb(64, 64, 64, 0.5);
  --color-mainBg : #F5F5F5; 
  --color-teaGreen : #DFF5E1; /* TextFieldBox */
  --color-darkerGreenTea : #b2d9b8; /* Sidebar and text bubbles */
}
/* Alabaster : F5F5F5 */